@font-face {
    font-family: 'Audiowide-Regular';
    src: url('../fonts/Audiowide-Regular.woff') format('woff'),
            url('../fonts/Audiowide-Regular.woff2') format('woff2');        
    font-weight: 600;
}
@font-face {
    font-family: 'DMMono-Regular';
    src: url('../fonts/DMMono-Regular.woff') format('woff2'),
            url('../fonts/DMMono-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter-Light';
    src: url('../fonts/Inter-Light.woff') format('woff');
    
}
